
<div id="collapsetwo" class="collapse show" aria-labelledby="headingtwo" data-parent="#accordion">
    <div class="card-body">
        <button class="btn btn-link float-right" (click)="callback(id)">-</button>
        <div class="row ml-3">
            <div class="form-inline">
                <div class="form-group mr-5">


                    <label for="formation" class="mr-5">Formation </label>
                    <input type="text" name="formation" class="form-control">

                </div>
                <div class="form-group mr-2">


                    <label for="establishment" class="mr-2"> Etablishment </label>
                    <input type="text" name="establishment" class="form-control">

                </div>
                <div class="form-group mr-3">



                    <input type="text" name="city" class="form-control mr-3" placeholder=" City">

                </div>


            </div>

        </div>
        <div class="row mt-3 ml-3">
            <div class="form-inline">
                <div class="form-group mr-5">


                    <label for="from" class="mr-5"> From </label>
                    <input type="date" name="from" class="form-control">

                </div>
                <div class="form-group mr-5">


                    <label for="to" class="mr-5"> To </label>
                    <input type="date" name="to" class="form-control">

                </div>



            </div>

        </div>
    </div>
</div>
<hr>