

    <div id="collapse6" class="collapse show" aria-labelledby="heading6" data-parent="#accordion">
        <div class="card-body">
            <button class="btn btn-link float-right" (click)="callback(id)">- </button>
            <div class="row ml-3">
                <div class="form-inline">
                    <div class="form-group mr-5">


                        <label for="interest" class="mr-5">Interest </label>
                        <input type="text" name="interest" class="form-control"
                            placeholder="Ex: music">

                    </div>
                    




                </div>

            </div>
        </div>
    </div>

