
<div class="hero-wrap hero-wrap-2" style="background-image: url('assets/landing.jpg');"
data-stellar-background-ratio="0.5">
<div class="overlay"></div>
<div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-start">
        <div class="col-md-12 ftco-animate text-center mb-5">
            <p class="breadcrumbs mb-0"><span class="mr-3"><a [routerLink]="['/']" class="profbtn">YOUR Profil >
                    </a></span> <span>Job Post</span></p>
            <h1 class="mb-3 bread">PROFIL</h1>

        </div>
    </div>
</div>
</div>






<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profil']">Identification</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " [routerLink]="['/detail']">Contenu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/validation']">Validation</a>
        </li>

    </ul>

    






</div>
<div class="container">
    <div class="row">
    <form class="form col-sm-8">
        
            <div class=" form-group">
                <input type="submit" [routerLink]="['/jobs']"  value="Rechercher" class="btn btn-primary  py-2 px-5">
    
            </div>
            
        
       
       
    </form>
    <div class="col-sm-4">
        <div class="card" style="width: 400px;">

            <!--Card image-->
            <div class="view overlay">
              <img src="assets/man2.png" class="card-img-top"
                alt="">
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Contact Info</h4>
              <!--Text-->
              <p class="card-text font-weight-bold"> Address</p>
              <p class="mb-4">Skhira Sfax</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+216 20236904</a></p>
              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#"><span class="_cf_email_" data-cfemail="671e081215020a060e0b2703080a060e094904080a">amelajmi20@gmail.com</span></a></p>
            </div>

          </div>
       
    </div>
</div>




