

    <div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordion">
        <div class="card-body">
            <button class="btn btn-link float-right" (click)="callback(id)">-</button>
            <div class="row ml-3">
                <div class="form-inline">
                    <div class="form-group mr-5">


                        <label for="skill" class="mr-5">Skill </label>
                        <input type="text" name="skill" class="form-control"
                            placeholder="Ex: Microsoft Office">

                    </div>
                    <div class="form-group mr-3">


                        <label for="level" class="mr-3"> Level </label>
                        <select class="form-control">
                            <option>Expert</option>
                            <option>advanced level </option>
                            <option>intermediate level </option>
                            <option>beginner level</option>
                        </select>

                    </div>
                    

                </div>

            </div>
        </div>
    </div>
