

    <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordion">
        <div class="card-body">
            <button class="btn btn-link float-right" (click)="callback(id)"> - </button>
            <div class="row ml-3">
                <div class="form-inline">
                    <div class="form-group mr-5">


                        <label for="language" class="mr-5">Language </label>
                        <input type="text" name="language" class="form-control">

                    </div>
                    <div class="form-group mr-3">


                        <label for="level" class="mr-3"> Level </label>
                        <select class="form-control">
                            <option>Native language</option>
                            <option> Bilingual</option>
                            <option> current </option>
                            <option> begginer</option>
                        </select>

                    </div>
                    


                </div>

            </div>
        </div>
    </div>

