<div class="hero-wrap hero-wrap-2" style="background-image: url('assets/landing.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-12 ftco-animate text-center mb-5">
                <p class="breadcrumbs mb-0"><span class="mr-3"><a [routerLink]="['/']" class="profbtn">YOUR Profil >
                        </a></span> <span>Job Post</span></p>
                <h1 class="mb-3 bread">Top of jobs</h1>

            </div>
        </div>
    </div>
</div>





    <div class="container">
        <h3> Top of Jobs </h3>
        <form  class="form">
            <div class="form-group">
                <label for="firstname"> job number 1 </label>
                
            </div>
            <div class="form-group">
                <label for="lastname"> job number 2 </label>
            
            </div>
            <div class="form-group">
                <label for="street"> job number 3 </label>
                
            </div>
            </form>
    </div>
    
    
    
