<div class="hero-wrap hero-wrap-2" style="background-image: url('assets/landing.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-12 ftco-animate text-center mb-5">
                <p class="breadcrumbs mb-0"><span class="mr-3"><a [routerLink]="['/']" class="profbtn">YOUR Profil >
                        </a></span> <span>Job Post</span></p>
                <h1 class="mb-3 bread">PROFIL</h1>

            </div>
        </div>
    </div>
</div>


    <div class="container">
        <div id="accordion0">
            <div class="card">
                <div class="card-header" id="heading1">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1"
                            aria-expanded="true" aria-controls="collapse1">
                            Recruiter Informations
                            <i class="fas fa-angle-down rotate-icon"></i>
                        </button>
                    </h5>
                </div>
            </div>
            <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion0">
                <div class="card-body">
                    <div class="row ml-3">
                        <div class="form-inline">
                            <div class="form-group mr-5">
                                <label for="firstname" class="mr-5">First Name </label>
                                <input type="text" name="firstname" class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="row ml-3 mt-3">
                        <div class="form-inline">
                            <div class="form-group mr-5">
                                <label for="lastName" class="mr-5 ">Last Name </label>
                                <input type="text" name="lastName" class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="row ml-3 mt-3">
                        <div class="form-inline">
                            <div class="form-group mr-5">
                                
                                <label for="mail" class="mr-5 ">Address mail </label>
                                <input type="email" name="mail" class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="row ml-3 mt-3">
                        <div class="form-inline">
                            <div class="form-group mr-5">
                                <label for="phone" class="mr-5 ">phone </label>
                                <input type="tel" name="phone" class="form-control">

                            </div>
                        </div>
                    </div>
                   



                </div>
            </div>
            
        </div>



        <div id="accordion2">
            <div class="card">
                <div class="card-header" id="heading2">
                    
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3"
                            aria-expanded="true" aria-controls="collapse3">
                            Company Informations
                            <i class="fas fa-angle-down rotate-icon"></i>
                        </button>
                    </h5>
                </div>

                <div id="collapse3" class="collapse show" aria-labelledby="heading2" data-parent="#accordion2">
                    <div class="card-body">
                        <div class="row ml-3">
                            <div class="form-inline">
                                <div class="form-group mr-5">
                                    <label for="formation" class="mr-5"> Name </label>
                                    <input type="text" name="formation" class="form-control">

                                </div>
                                

                                <div class="form-group mr-2">


                                    <label for="location" class=""> Location </label>
                                    <input type="text" name="location" class="form-control">

                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="row mt-3 ml-3">
                            <div class="form-inline">
                                <div class="form-group mr-5">


                                    <label for="website" class="mr-5">Website </label>
                                    <input type="text" name="website" class="form-control">

                                </div>
                                <div class="form-group mr-2">


                                    <label for="E-mail" class=""> E-mail </label>
                                    <input type="text" name="E-mail" class="form-control">

                                </div>



                            </div>

                        </div>
                        
                        <div class="row mt-3 ml-3">
                            <div class="form-inline">
                                <div class="form-group mr-5">


                                    <label for="debut" class="mr-5">Established date </label>
                                    <input type="date" name="debut" class="form-control">

                                </div>
                                <div class="form-group mr-2">


                                    <label for="employees" class=""> Number of employees </label>
                                    <input type="number" name="employees" class="form-control">

                                </div>



                            </div>

                        </div>
                        <div class="row mt-3 ml-3">
                            <div class="form-inline">
                                <div class="form-group mr-5">


                                    <label for="activity area" class="mr-5">activity area </label>
                                    <select class=form-control>
                                        <option value=informatique>Informatique</option>
                                        <option value=electronique>Electronique</option>
                                        <option value=marketing>Marketing</option>
                                        <option value=Mecanique>Mecanique</option>
                                        <option value=Santé>Santé</option>
                                        <option value=contabilité>contabilité</option>

                                       </select>
                                    

                                </div>
                                <div class="form-group mr-2">


                                    <label for="type" class=""> Type of Campany</label>
                                    <select class=form-control>
                                        <option value=informatique>Start up</option>
                                        <option value=electronique>grande campany</option>
                                        <option value=marketing>SARL</option>
                                        
                                       </select>

                                </div>



                            </div>

                        </div>

                    </div>
                </div>
                
            </div>

            

        </div>
        <div class=" form-group mt-3">
            <input type="submit" value="Save" [routerLink]="['/postJob']" routerLinkActive="router-link-active"  class="btn btn-primary  py-2 px-5">

        </div>
    </div>





